<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doctor.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:label="@string/edit_profile"
            android:parentActivityName=".ui.profile.ProfileActivity"
            android:theme="@style/Theme.Doctor" />
        <activity
            android:name=".ui.chamber.ChamberActivityDoctor"
            android:exported="false"
            android:label="@string/chamber"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Doctor" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:exported="false"
            android:label="@string/change_password"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Doctor" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:label="@string/profile"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Doctor" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prescription.PrescriptionViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prescription.PrescriptionCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prescription.PrescriptionListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intermediary.IntermediaryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intermediary.IntermediaryListActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ui.meeting.MeetingActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ui.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>